/* Global layout for the entire webpage base */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Global layout for the entire webpage's body element */
body {
  color: #545149;
  background-color: #f4f1ec;

  font-size: 24px;
  font-family: 'Bungee', cursive;
  font-family: 'Source Sans Pro', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


/* style for the entire main section */
main {
  width: 90%;
  background-color: #f4f1ec;

  margin-top: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  z-index: 6;
}