/* style for the entire nav element*/
.navbar {
  height: 65px; 
  width: 100% ;

  background-color: #008c41;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 1.5em;
  padding-right: 1.5em;
  
  z-index: 10;
}

/* color for nav's double-angles-down icon*/
.icon_h {
  color: red;
}

/* hover effect for nav's double-angles-down icon*/
.icon_h:hover {
  color: burlywood;
}

/* style for nav's word 'tweeter'*/
.twe {
  font-family: 'Bungee', cursive;
  font-size: 32px;
}

/* size for nav's word 'Write a new tweet'*/
p {
  font-size: 24px;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  /* style for the entire nav element after the size of the browser window larger than 1024px*/
  .navbar {
    height: 65px; 
    width: 100% ;
  
    background-color: #4056A1;
    color: #FFFFFF;
    
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
  
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 1.5em;
    padding-right: 1.5em;
    
    z-index: 10;
  }
  
  /* style for the word 'tweeter' of the nav element after the size of the browser window larger than 1024px*/
  .twe {
    font-family: 'Bungee', cursive;
    font-size: 32px;
  }
  
  /* style for the words 'Write a new tweet' of the nav element after the size of the browser window larger than 1024px*/
  p {
    font-size: 24px;
  }

}
