section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

label {
  font-family: 'Bungee', cursive;
  font-size: 19px;
}

div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  font-size: 19px;
}

.button {
  background-color: #4056A1;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

.artTweet {
  margin-top: 30px;
  background-color: #f4f1ec;

  border: thick solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.tweetHead {
  font-weight: lighter;
  font-size: 10px;
  font-family: 'Bungee', cursive;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.twTx {
  font-weight: normal;
  font-size: 24px;
  font-family: 'Bungee', cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.tweetFoot {
  border-top: thick solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.smallIcon {
  display: flex;
  justify-content: space-around;
  font-size: 0.53em;
}

.validation{
  color: #D63301;
  background-color: #FFCCBA;
  /* background-image: url('https://i.imgur.com/GnyDvKN.png'); */
}